on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.23.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: apt update
      run: sudo apt update
    - name: Install strongswan
      run: sudo apt install strongswan-charon strongswan-swanctl charon-systemd -y
    - name: Start strongswan
      run: sudo systemctl start strongswan
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: sudo -E env "PATH=$PATH" go test -v ./vici -count=1 -integration
